<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ratings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/myratings.css}">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ecc2ff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:text="#{ADMINISTRATOR}">Session</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="#{menu_main}" th:href="@{/main}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="#{procedures_review}"
                           th:href="@{http://localhost:8080/api/procedures/table}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="#{menu_by_master_rat}"
                           th:href="@{http://localhost:8080/api/users/ratings}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/main}" th:text="#{menu_log_out}"> LOGOUT
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/main}" th:text="#{menu_admin}">ADMIN MENU</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-md-0 my-5 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="#{menu_book}"
                           th:href="@{http://localhost:8080/api/appointments/create/master}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="#{menu_my_procedures}"
                           th:href="@{http://localhost:8080/api/appointments/get/client}"></a>
                    </li>
                    <li>
                        <a th:href="@{/main/?lang=ukr}" type="button" class="btn btn-primary">ukr</a>
                        <a th:href="@{/main/?lang=en}" type="button" class="btn btn-primary">en</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1 class="text-center" th:text="#{registration_on_procedure}"></h1>

<div class="table">
    <form th:action="@{/api/appointments/add}" method="post">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <select class="form-select" id="masters" th:name="masterIn">
                    <option th:each="master : ${appDto.masters}" th:text="${master.getLogin()}" th:value="${master.getId()}">Open this select menu
                    </option>
                </select>
            </div>
            <div class="col-lg-2">
                <select class="form-select" id="skills" th:name="skillIn">

                </select>
            </div>
            <div class="col-lg-2">
                <input type="date" class="form-control"
                       th:min="${localDate.plusDays(1)}" th:max="${localDate.plusDays(7)}" id="date" th:name="dateIn">
            </div>
            <div class="col-lg-2">
                <input type="time" class="form-control" placeholder="Start time" aria-label="Start time"
                       min="11:00" max="18:00" th:name="timeIn" value="11:00">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-primary" th:text="#{menu_book}" type="submit">Toggle button</button>
            </div>
        </div>
    </form>
</div>


<table class="table align-middle" id="table">
    <caption></caption>
    <h5 class="text-center" th:text="#{schedule_this_day}">schedule_this_day</h5>
    <thead>
    <tr>
        <th scope="col" th:text="#{start_time}">start_time</th>
        <th scope="col" th:text="#{end_time}">end_time</th>
        <th scope="col" th:text="#{status}">status</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr th:if="${masterAppointments != null}" th:each="appointment : ${masterAppointments}">
        <td th:text="${appointment.getStartTime().toLocalDateTime().toLocalTime()}">appointment.id</td>
        <td th:text="${appointment.getEndTime().toLocalDateTime().toLocalTime()}">appointment.startTime</td>
        <td th:text="${appointment.getAppointmentStatus().toString().toLowerCase()}">appointmentEndTime</td>
    </tr>
    </tbody>
</table>
<script defer th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
<script th:inline="javascript">
    var masters = [[${appDto.masters}]];
    var masterName = [[${masterName}]];
    var dateAppointment = [[${dateAppointment}]];
</script>
<script>
    $(document).ready(function () {
        var func = function () {
            var masterName = $("#masters").val();
            var master = masters.find(m => m.id == masterName);
            var optionList = "";
            var skillList = master.skills;
            for (var i = 0; i < skillList.length; i++) {
                optionList += "<option value=" + skillList[i].name + ">" + skillList[i].name + "</option>";
            }
            $("#skills").html(optionList);
        };
        func();
        $("#masters").change(() => func());
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if (masterName != null) {
            $("#masters").val(masters.find(m => m.login === masterName).id).change();
        }
        if (dateAppointment != null) {
            $("#date").val(dateAppointment).change();
        }
        $('#date').change(function () {
            var masterName = $("#masters").val();
            var master = masters.find(m => m.id == masterName);
            var sendData = {
                id: master.id,
                date: $("#date").val()
            }
            $.ajax('http://localhost:8080/api/users/jquery/getdata',   // request url
                {
                    type: 'POST',
                    data: JSON.stringify(sendData),
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status, xhr) {
                        $('#tbody').empty();// success callback function
                        $.each(data, function (i, item) {
                            var tr = $('<tr>').append(
                                $('<td>').text(item.startTime),
                                $('<td>').text(item.endTime),
                                $('<td>').text(item.appointmentStatus)
                            ); //.appendTo('#records_table');
                            $('#table').append(tr);
                        });
                    }
                });
        });

        $('#masters').change(function () {
            var masterName = $("#masters").val();
            var master = masters.find(m => m.id == masterName);
            var sendData = {
                id: master.id,
                date: $("#date").val()
            }
            $.ajax('http://localhost:8080/api/users/jquery/getdata',   // request url
                {
                    type: 'POST',
                    data: JSON.stringify(sendData),
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status, xhr) {
                        $('#tbody').empty();// success callback function
                        $.each(data, function (i, item) {
                            var tr = $('<tr>').append(
                                $('<td>').text(item.startTime),
                                $('<td>').text(item.endTime),
                                $('<td>').text(item.appointmentStatus)
                            ); //.appendTo('#records_table');
                            $('#table').append(tr);
                        });
                    }
                });
        });

    });
</script>
</div>

<script defer th:src="@{/assets/js/bootstrap.bundle.js}"></script>
</body>
</html>