<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Ratings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/myratings.css}">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ecc2ff;">
        <div class="container-fluid">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="navbar-brand" href="#" th:text="#{ADMINISTRATOR}">Admin</a>
            </div>
            <div sec:authorize="hasRole('ROLE_MASTER')">
                <a class="navbar-brand" href="#" th:text="#{MASTER}">Admin</a>
            </div>
            <div sec:authorize="hasRole('ROLE_CLIENT')">
                <a class="navbar-brand" href="#" th:text="#{CLIENT}">Admin</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a class="navbar-brand" th:text="#{GUEST}">Guest</a>
            </div>
            <div><a class="navbar-brand">|</a></div>

            <a class="navbar-brand" href="#" sec:authentication="name">Name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="#{menu_main}" th:href="@{/main}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:text="#{procedures_review}"
                           th:href="@{http://localhost:8080/api/procedures/table}"></a>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="hasRole('ROLE_CLIENT')">
                            <a class="nav-link active" aria-current="page" th:text="#{menu_by_master_rat}"
                               th:href="@{http://localhost:8080/api/users/ratings}"></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="!isAuthenticated()">
                            <a class="nav-link" th:href="@{/logout}" th:text="#{create_acc}"> LOGOUT</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/logout}" th:text="#{menu_log_out}"> LOGOUT</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav me-md-0 my-5 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link active" th:href="@{/api/appointments/get/admin}" th:text="#{menu_admin}">ADMIN
                                MENU</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="hasRole('ROLE_CLIENT')">
                            <a class="nav-link active" aria-current="page" th:text="#{menu_book}"
                               th:href="@{http://localhost:8080/api/appointments/create/master}"></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="hasRole('ROLE_CLIENT')">
                            <a class="nav-link active" aria-current="page" th:text="#{menu_my_procedures}"
                               th:href="@{http://localhost:8080/api/appointments/get/client}"></a>
                        </div>
                        <div sec:authorize="hasRole('ROLE_MASTER')">
                            <a class="nav-link active" aria-current="page" th:text="#{menu_my_procedures}"
                               th:href="@{http://localhost:8080/api/appointments/get/master}"></a>
                        </div>

                    </li>
                    <li>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" th:checked="${#locale.toString() == 'en'}">
                            <label class="btn btn-outline-secondary" for="btnradio1">EN</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" th:checked="${#locale.toString() == 'ukr'} ? 'checked'">
                            <label class="btn btn-outline-primary" for="btnradio2">УКР</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<h1 class="text-center" th:text="#{provided_services}">rating_our_masters<span
        class="badge bg-primary" th:text="#{click_on_master}">click_on_master</span></h1>
<table class="table align-middle">
    <thead>
    <tr>
        <th scope="col" class="text-center"><a th:text="#{procedure_procedure}"
                                               th:href="@{http://localhost:8080/api/procedures/table/sort=procedure}" class="text-decoration-none text-reset"></a>
        </th>
        <th scope="col" class="text-center"><a th:text="#{MASTER}"
                                               th:href="@{http://localhost:8080/api/procedures/table/sort=master}" class="text-decoration-none text-reset"></a>
        </th>
        <th scope="col" class="text-center"><a th:text="#{rating}"
                                               th:href="@{http://localhost:8080/api/procedures/table/sort=rating}" class="text-decoration-none text-reset"></a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto : ${mastersRowDto}">
        <td class="text-center" ><a th:text="#{${dto.getProcedureName()}}" th:href="@{'http://localhost:8080/api/procedures/table/procedure='+${dto.getProcedureName()}}" class="text-decoration-none text-reset"></a></td>
        <td class="text-center"><a th:text="${dto.getMasterName()}" th:href="@{'http://localhost:8080/api/procedures/table/master='+${dto.getMasterName()}}" class="text-decoration-none text-reset"></a></td>
        <td class="text-center"><a th:text="${dto.getRating()}" th:href="@{'http://localhost:8080/api/procedures/table/rating='+${dto.getRating()}}" class="text-decoration-none text-reset"></a></td>
    </tr>
    </tbody>
</table>


<script th:src="@{/assets/js/bootstrap.bundle.js}"></script>
<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
<script type="text/javascript">
    $('#btnradio2').click(function() {
        var x = new XMLHttpRequest();
        x.open("GET", "/main?lang=ukr", true);
        x.onload = function (){
        }
        x.send(null);
        location.reload();
    });
    $('#btnradio1').click(function() {
        var x = new XMLHttpRequest();
        x.open("GET", "/main?lang=en", true);
        x.onload = function (){
        }
        x.send(null);
        location.reload();
    });
</script>
</body>
</html>